body {
    overflow:hidden;
}

.nanum-pen-script-regular {
    font-family: "Nanum Pen Script", serif;
    font-weight: 400;
    font-style: normal;
}

.back-layer {
    z-index: -10;
}

.middle-layer {
    position: absolute;
    z-index: 0;
    left: 0px;
}

.top-layer {
    position: absolute;
    z-index: 10;
    left: 0px;
}

#cat-yarn {
    position: absolute;
    width: 6%;
    left: 519px;
    top: 60px;
}

h1 {
    position: absolute;
	top: -50px;
	width: 100%;
	text-align: center;
	display:block;
    font-family: 'Nanum Pen Script';
    font-size: 100px;
}

#logo {
    position: absolute;
    width: 5%;
    right: 10px;
}

.credits {
    font-family: 'Nanum Pen Script';
    width: 200px;
    height: 65px;
    top: 500px;
    border: dashed;
    border-radius: 0px;
    padding: 10px;
}

#stave {
    position: absolute;
	width: 95%;
    top: 150px;
    left: 35px;
	display: block;
    margin: auto;
}

.stave-buttons {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(16, 50px);
    grid-gap: 26px;
    top: 137px;
    left: 200px;
    border-left: 50px;
    font-size:0;
    text-align: center;
}

.note {
    background: transparent;
    border: none !important;
    position: relative;
    width: 50px;
    height: 23px;
}

.play-pause {
    position: absolute;
    top: 500px;
    left: 600px;
    display: grid;
    grid-gap: 50px;
}

#play {
    grid-column-start: 1;
    grid-column-end: 2;
}

#pause {
    grid-column-start: 2;
    grid-column-end: 3;
}

#clear {
    grid-column-start: 3;
    grid-column-end: 4;
}

.stave-images {
    position: relative;
    top: 112px;
    left: -9px;
    font-size:0;
}

.note-im {
    position: absolute;
    min-width: 50px;
    min-height: 40px;
    
}

#peeking-cat {
    position: absolute;
    width: 4%;
    right: 366px;
    top: 630px;
    z-index: 1;
}

#cat-headphones {
    position: absolute;
    width: 6%;
    right: 50px;
    top: 525px;
    z-index: 1;
}

.info {
    position: absolute;
    width: 330px;
    height: 175px;
    top: 600px;
    right: 25px;
    font-family: 'Nanum Pen Script';
    border: dashed;
    border-radius: 10px;
    padding: 10px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.settings {
    position: absolute;
    top: 550px;
    left: 650px;
    display: grid;
    grid-column-gap: 80px;
}

#annotated-text {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    font-family: 'Nanum Pen Script';
    font-size: 25px;
    text-align: center;
}

#sound-text {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    font-family: 'Nanum Pen Script';
    font-size: 25px;
    text-align: center;
}

#annotated-notes-switch {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#sound-switch {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#e1-im { position: relative; top: 20px; }               /*-86*/
#d1-im { position: relative; top: 2px; }     /*18*/
#c1-im { position: relative; top: -16px; }   /*18*/
#b1-im { position: relative; top: -34px; }   /*18*/
#a1-im { position: relative; top: -52px; }   /*18*/
#g1-im { position: relative; top: -70px; }   /*18*/
#f1-im { position: relative; top: -88px; }   /*18*/

#e2-im { position: relative; top: -260px; left: 10px; }  /*280*/
#d2-im { position: relative; top: -278px; }
#c2-im { position: relative; top: -296px; }
#b2-im { position: relative; top: -314px; }
#a2-im { position: relative; top: -332px; }
#g2-im { position: relative; top: -350px; }
#f2-im { position: relative; top: -368px; }

#e3-im { position: relative; top: -540px; left: 8px; }
#d3-im { position: relative; top: -558px; }
#c3-im { position: relative; top: -576px; }
#b3-im { position: relative; top: -594px; }
#a3-im { position: relative; top: -612px; }
#g3-im { position: relative; top: -630px; }
#f3-im { position: relative; top: -648px; }

#e4-im { position: relative; top: -820px; left: 8px; }
#d4-im { position: relative; top: -838px; }
#c4-im { position: relative; top: -856px; }
#b4-im { position: relative; top: -874px; }
#a4-im { position: relative; top: -892px; }
#g4-im { position: relative; top: -910px; }
#f4-im { position: relative; top: -928px; }

#e5-im { position: relative; top: -1100px; left: 8px; }
#d5-im { position: relative; top: -1118px; }
#c5-im { position: relative; top: -1136px; }
#b5-im { position: relative; top: -1154px; }
#a5-im { position: relative; top: -1172px; }
#g5-im { position: relative; top: -1190px; }
#f5-im { position: relative; top: -1208px; }

#e6-im { position: relative; top: -1380px; left: 8px; }
#d6-im { position: relative; top: -1398px; }
#c6-im { position: relative; top: -1416px; }
#b6-im { position: relative; top: -1434px; }
#a6-im { position: relative; top: -1452px; }
#g6-im { position: relative; top: -1470px; }
#f6-im { position: relative; top: -1488px; }

#e7-im { position: relative; top: -1660px; left: 8px; }
#d7-im { position: relative; top: -1678px; }
#c7-im { position: relative; top: -1696px; }
#b7-im { position: relative; top: -1714px; }
#a7-im { position: relative; top: -1732px; }
#g7-im { position: relative; top: -1750px; }
#f7-im { position: relative; top: -1768px; }

#e8-im { position: relative; top: -1940px; left: 8px; }
#d8-im { position: relative; top: -1958px; }
#c8-im { position: relative; top: -1976px; }
#b8-im { position: relative; top: -1994px; }
#a8-im { position: relative; top: -2012px; }
#g8-im { position: relative; top: -2030px; }
#f8-im { position: relative; top: -2048px; }

#e9-im { position: relative; top: -2220px; left: 8px; }
#d9-im { position: relative; top: -2238px; }
#c9-im { position: relative; top: -2256px; }
#b9-im { position: relative; top: -2274px; }
#a9-im { position: relative; top: -2292px; }
#g9-im { position: relative; top: -2310px; }
#f9-im { position: relative; top: -2328px; }

#ea-im { position: relative; top: -2500px; left: 8px; }
#da-im { position: relative; top: -2518px; }
#ca-im { position: relative; top: -2536px; }
#ba-im { position: relative; top: -2554px; }
#aa-im { position: relative; top: -2572px; }
#ga-im { position: relative; top: -2590px; }
#fa-im { position: relative; top: -2608px; }

#eb-im { position: relative; top: -2780px; left: 8px; }
#db-im { position: relative; top: -2798px; }
#cb-im { position: relative; top: -2816px; }
#bb-im { position: relative; top: -2834px; }
#ab-im { position: relative; top: -2852px; }
#gb-im { position: relative; top: -2870px; }
#fb-im { position: relative; top: -2888px; }

#ec-im { position: relative; top: -3060px; left: 8px; }
#dc-im { position: relative; top: -3078px; }
#cc-im { position: relative; top: -3096px; }
#bc-im { position: relative; top: -3114px; }
#ac-im { position: relative; top: -3132px; }
#gc-im { position: relative; top: -3150px; }
#fc-im { position: relative; top: -3168px; }

#ed-im { position: relative; top: -3340px; left: 8px; }
#dd-im { position: relative; top: -3358px; }
#cd-im { position: relative; top: -3376px; }
#bd-im { position: relative; top: -3394px; }
#ad-im { position: relative; top: -3412px; }
#gd-im { position: relative; top: -3430px; }
#fd-im { position: relative; top: -3448px; }

#ee-im { position: relative; top: -3620px; left: 8px; }
#de-im { position: relative; top: -3638px; }
#ce-im { position: relative; top: -3656px; }
#be-im { position: relative; top: -3674px; }
#ae-im { position: relative; top: -3692px; }
#ge-im { position: relative; top: -3710px; }
#fe-im { position: relative; top: -3728px; }

#ef-im { position: relative; top: -3900px; left: 8px; }
#df-im { position: relative; top: -3918px; }
#cf-im { position: relative; top: -3936px; }
#bf-im { position: relative; top: -3954px; }
#af-im { position: relative; top: -3972px; }
#gf-im { position: relative; top: -3990px; }
#ff-im { position: relative; top: -4008px; }

#e0-im { position: relative; top: -4180px; left: 8px; }
#d0-im { position: relative; top: -4198px; }
#c0-im { position: relative; top: -4216px; }
#b0-im { position: relative; top: -4234px; }
#a0-im { position: relative; top: -4252px; }
#g0-im { position: relative; top: -4270px; }
#f0-im { position: relative; top: -4288px; }