.nanum-pen-script-regular {
    font-family: "Nanum Pen Script", serif;
    font-weight: 400;
    font-style: normal;
}

.back-layer {
    z-index: -10;
}

.middle-layer {
    position: absolute;
    z-index: 0;
    left: 0px;
}

.top-layer {
    position: absolute;
    z-index: 10;
    left: 0px;
}

h1 {
    position: absolute;
	top: -50px;
	width: 100%;
	text-align: center;
	display:block;
    font-family: 'Nanum Pen Script';
    font-size: 100px;
}

#stave {
    position: absolute;
	width: 95%;
    top: 150px;
    left: 38px;
	display: block;
    margin: auto;
}

.stave-buttons {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-gap: 26px;
    top: 225px;
    left: 230px;
    border-left: 50px;
    font-size:0;
    text-align: center;
}

.note {
    background: transparent;
    border: none !important;
    position: relative;
    width: 50px;
    height: 23px;
}

.play-pause {
    position: absolute;
    top: 500px;
    left: 300px;
}

.stave-images {
    position: relative;
    top: 112px;
    left: -9px;
    font-size:0;
}

.note-im {
    position: absolute;
    min-width: 50px;
    min-height: 40px;
    
}

#e1-im { position: relative; top: 106px; }
#d1-im { position: relative; top: 89px; }   /*17*/
#c1-im { position: relative; top: 71px; }   /*18*/
#b1-im { position: relative; top: 54px; }   /*17*/
#a1-im { position: relative; top: 35px; }   /*19*/
#g1-im { position: relative; top: 17px; }   /*18*/
#f1-im { position: relative; }              /*17*/

#e2-im { position: relative; top: -174px; left: 10px; }
#d2-im { position: relative; top: -191px; }
#c2-im { position: relative; top: -209px; }
#b2-im { position: relative; top: -226px; }
#a2-im { position: relative; top: -245px; }
#g2-im { position: relative; top: -263px; }
#f2-im { position: relative; top: -280px; }

#e3-im { position: relative; top: -454px; left: 8px; }
#d3-im { position: relative; top: -471px; }
#c3-im { position: relative; top: -489px; }
#b3-im { position: relative; top: -506px; }
#a3-im { position: relative; top: -525px; }
#g3-im { position: relative; top: -543px; }
#f3-im { position: relative; top: -560px; }

#e4-im { position: relative; top: -734px; left: 8px; }
#d4-im { position: relative; top: -751px; }
#c4-im { position: relative; top: -769px; }
#b4-im { position: relative; top: -786px; }
#a4-im { position: relative; top: -805px; }
#g4-im { position: relative; top: -823px; }
#f4-im { position: relative; top: -840px; }