.nanum-pen-script-regular {
    font-family: "Nanum Pen Script", serif;
    font-weight: 400;
    font-style: normal;
}  

h1 {
    position: absolute;
	top: -50px;
	width: 100%;
	text-align: center;
    z-index: 0;
	display:block;
    font-family: 'Nanum Pen Script';
    font-size: 100px;
}

.stave {
    position: relative;
    top: 150px;
}

.play-pause {
    position: absolute;
    z-index: 1;
    bottom: 100px;
}

#stave-img {
    position: absolute;
	width: 95%;
	display: block;
    margin: auto;
}

.stave-buttons {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 50px);

    top: 80px;
    left: 175px;
    font-size:0;
    z-index: 2;
    text-align: center;
}

.stave-images {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 69px);
    top: -80px;
    left: 575px;
    font-size:0;
    text-align: center;
}

.note {
    /*background: transparent;
    border: none !important;*/
    position: relative;
    width: 50px;
    height: 22px;
}

.note-im {
    /*background: transparent;
    border: none !important;*/

    min-width: 50px;
    min-height: 40px;
}