h1 {
    position: absolute;
	top: -50px;
	width: 100%;
	text-align: center;
    z-index: 100;
	display:block;
    font-family: 'Nanum Pen Script';
    font-size: 100px;
}

.stave {
    position: relative;
    top: 150px;
}

#stave {
    position: absolute;
    z-index: -10;
	width: 95%;
	display: block;
    margin: auto;
}

.stave-buttons {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    z-index: 100;
    top: 80px;
    left: 175px;
    font-size:0;
    text-align: center;
}

.stave-images {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    z-index: 100;
    top: -80px;
    left: 575px;
    font-size:0;
    text-align: center;
}

.note {
    /*background: transparent;
    border: none !important;*/
    width: 50px;
    height: 22px;
}

.note-im {
    /*background: transparent;
    border: none !important;*/
}